[submodule "dpdk"]
	path = dpdk
	url = git@gitee.com:custorage/dpdk.git
[submodule "intel-ipsec-mb"]
	path = intel-ipsec-mb
	url = git@gitee.com:custorage/intel-ipsec-mb.git
[submodule "isa-l"]
	path = isa-l
	url = git@gitee.com:custorage/isa-l.git
[submodule "ocf"]
	path = ocf
	url = git@gitee.com:custorage/ocf.git
[submodule "libvfio-user"]
	path = libvfio-user
	url = git@gitee.com:custorage/libvfio-user.git
